body {
  text-align: center;
  background-color: #4D4E65;
  color: aliceblue;
}

input {
  border: none;
  background-color: aliceblue;
  color: rgb(79, 87, 109);
}

button {
  border: none;
}
