body {
  background-color: rgb(117, 113, 154);
  color: rgb(249, 152, 152);
  text-align: center;
}

input {
  border: none;
  color: aliceblue;
  background-color: rgb(97, 123, 183);
}

button {
  background-color: rgb(255, 255, 255);
  border: none;
  color: rgb(109, 154, 223);
}

.label {
  height: 250px;
  width: 250px;
}
